<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Side Projects</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'overview.css' %}">
	<!--<link rel="stylesheet" href="{% static 'homepage.css' %}">-->
</head>


<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">Automatic Wave Tracking</h3>
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="../../#">Home</a></li>
                    <li><a href="waves/motivation">Motivation</a></li>
                    <li><a href="waves/techniques">Workflow</a></li>
                    <li><a href="waves/outcome">Outcome</a></li>
                    <li class="active"><a href="#">Application</a></li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br/>
                    <p class="lead">Given a group of propagating waves, how to obtain their speed &amp; source location?</p>
                    <center>
                        <img src="../static/waves0.gif" style="width: 80%" align="middle">
                    </center>
                    <br/>
                </div>
                <div class="col-md-6">
                    <br/>
                    <p class="lead">Automatical tracking &amp; modeling provides the speed &amp; source location estimation</p>
                    <center>
                        <img src="../static/waves_model.gif" style="width: 80%" align="middle">
                    </center>
                    <br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h3>Motivation</h3>
                <p>Given a group of propagating waves (moving objects), how to keep track of their location &amp; deformation automatically?</p>
                <p><a class="btn btn-primary" href="waves/motivation" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-6">
                <h3>Workflow &amp; Techniques</h3>
                <p>
                    <ol>
                        <li><strong>Object Detection</strong>: identify the waves in a given 2D image</li>
                        <li><strong>Object Tracking</strong>: track the wave location between successive images</li>
                        <li><strong>Modeling</strong>: construct simplified model of the propagating waves to assist in further analysis</li>
                    </ol>
                </p>
                <p><a class="btn btn-primary" href="waves/techniques" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-3">
                <h3>Outcome</h3>
                <p>
                    Estimated the wave features based on the simplified model:
                    <ul>
                        <li>propagation speed and direction</li>
                        <li>source location</li>
                    </ul>
                </p>
                <p><a class="btn btn-primary" href="waves/outcome" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2017 Melanie Kan</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
