<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Side Projects</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'overview.css' %}">
	<!--<link rel="stylesheet" href="{% static 'homepage.css' %}">-->
</head>


<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">Data Analysis on iOS Mobile Applications</h3>

        <div class="row">
            <div class="col-lg-3">
                <h3>Dataset</h3>
                <p>Scraped from iTunes websites and iTunes API</p>
                <p><a class="btn btn-primary" href="https://github.com/rongqingpin/iOS_app_data" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-6">
                <h3>Exploratory Data Anslysis</h3>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2017 Melanie Kan</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
