<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Data Science Mini-Projects</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
</head>


<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="../../#">Home</a>
                <a class="blog-nav-item active" href="#">Mini-Projects</a>
                <a class="blog-nav-item" href="../../about/catalog">Other Projects</a>
                <a class="blog-nav-item" href="../../about">About</a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Data Science Mini-Projects</h1>
            <p class="lead blog-description">Data modeling and prediction practice, using publicly available datasets</p>
        </div>
        <div class="blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Student Loan Repayment Prediction</h2>
                <p class="blog-post-meta">July 12, 2017</p>
                <p>Predicting the repayment rates of student loans based on the data of the students and the institutes (provided by United States Department of Education)</p>
                <p><a class="btn btn-primary" href="minis/student_loan" role="button">View details &raquo;</a></p>
                <hr>

                <h2 class="blog-post-title">Human Activity Prediction</h2>
                <p class="blog-post-meta">June 11, 2017</p>
                <p>Predicting the activity types (sitting, sitting down, standing, standing up, walking) based on readings of four accelerometers</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/lab6_3_RandomForest.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/human_activity" role="button">View details &raquo;</a></p> -->
                <hr>

                <h2 class="blog-post-title">Parkinson Disease Identification</h2>
                <p class="blog-post-meta">June 8, 2017</p>
                <p>Discriminating healthy people from those with Parkinsons Disease based on the patients' voice measurements</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/Lab6_1_Modeling_SVC/assignment3.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/parkinson" role="button">View details &raquo;</a></p> -->
                <hr>

                <h2 class="blog-post-title">Digit Pronunciation Prediction</h2>
                <p class="blog-post-meta">June 2, 2017</p>
                <p>Predicting the missing portions of audio files (pronunciation of digits) based on the intact portions (about 25% of the audio files)</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/Lab5_3_Modeling_LinearRegression/assignment10.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/digit_pronunciation" role="button">View details &raquo;</a></p> -->
                <hr>

                <h2 class="blog-post-title">Breast Cancer Diagnostic</h2>
                <p class="blog-post-meta">June 1, 2017</p>
                <p>Classification of clump types (benigh / malignant) based on the clump features (e.g., thickness, size, cells, etc.)</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/Lab5_2_Modeling_KNearestNeighbors/assignment7.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/breast_cancer" role="button">View details &raquo;</a></p> -->
                <hr>

                <h2 class="blog-post-title">Home &amp; Work Address Identification</h2>
                <p class="blog-post-meta">May 9, 2017</p>
                <p>Identification of the users' home and work address based on phone call records</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/Lab5_1_Modeling_KMeans/assignment3.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/home_address" role="button">View details &raquo;</a></p> -->
                <hr>

                <h2 class="blog-post-title">Chicago Crime Hot-Spot Identification</h2>
                <p class="blog-post-meta">May 8, 2017</p>
                <p>Identification of the locations for placing heavier patrols based on the police report of Chicago crimes</p>
                <p><a href="https://github.com/rongqingpin/Python_Data_Science_edX_DAT210x/blob/master/Lab5_1_Modeling_KMeans/assignment1.ipynb"><u>More</u></a></p>
                <!-- <p><a class="btn btn-primary" href="minis/home_address" role="button">View details &raquo;</a></p> -->
            </div>
        </div>
    </div>

    <footer class="blog-footer">
      <p>&copy; 2017 Melanie Kan</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
