<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PhD Research Projects</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
	<!--<link rel="stylesheet" href="{% static 'homepage.css' %}">-->
</head>


<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="../../#">Home</a>
                <a class="blog-nav-item" href="motivation">Motivation</a>
                <a class="blog-nav-item active" href="#">Workflow &amp; Techniques</a>
                <a class="blog-nav-item" href="outcome">Outcome</a>
                <a class="blog-nav-item" href="../algorithm">Application</a>
                <!--a class="blog-nav-item" href="../../images/waves">Images</a>
                <a class="blog-nav-item" href="../../about">About</a-->
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="blog-main">
            <div class="blog-post">
                <p>Under construction</p>
            </div>
        </div>
    </div>

    <footer class="blog-footer">
      <p>&copy; 2017 Melanie Kan</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>