<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PhD Research Projects</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'overview.css' %}">
    <!--<link rel="stylesheet" href="{% static 'homepage.css' %}">-->
</head>


<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">Structure Identification &amp; Visualization</h3>
            <nav>
              <ul class="nav nav-justified">
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="/timeseries/supersonic/motivation">Motivation</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Techniques<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Signal Processing</li>
                    <li><a href="../../tech/frequency">Time-Frequency</a></li>
                    <li><a href="../../tech/statistical">Statistical</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Modeling</li>
                    <li><a href="../../tech/dimension">Dimensionality Recuction</a></li>
                  </ul>
                </li>
                <li><a href="../../#" style="color:#79529E;">Homepage</a></li>
                <li><a href="../../about/catalog" style="color:#79529E;">Projects</a></li>
                <li><a href="../../about" style="color:#79529E;">About</a></li>
              </ul>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br/>
                    <h4>Input:</h4>
                    <p class="lead">Two-dimensional flow without apparent structures (other than the shock structures and the shear layers)</p>
                    <center>
                        <img src="../static/vel_snapshots.gif" style="width: 80%" align="middle">
                    </center>
                    <br/>
                </div>
                <div class="col-md-6">
                    <br/>
                    <h4>Output:</h4>
                    <p class="lead">Structure evolution and pathways obtained from new visualization techniques, which combine statistical and time-frequency techniques</p>
                    <center>
                        <img src="../static/fcor_snapshots.gif" style="width: 80%" align="middle">
                    </center>
                    <br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h3>Motivation</h3>
                <p>
                    <ul>
                        <li>Give a flow field (2D images), how to extract the hidden structures and visualize their evolution and pathways?</li>
                        <li>Can we make the conventional signal analysis techniques more intuitive?</li>
                    </ul>
                </p>
                <p><a class="btn btn-primary" href="supersonic/motivation" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-6">
                <h3>Workflow &amp; Techniques</h3>
                <p>
                    <ol>
                        <li><strong>Data Cleaning</strong>: denoising; detrending; down-sampling; faulty data detection &amp; replacement</li>
                        <li><strong>Data Exploration</strong>: statistical signal processing; spectral analysis; time-frequency signal processing</li>
                        <li><strong>Big Data Problem</strong>: resolved through constructing Hot-Spots</li>
                        <li><strong>New Visualization Techniques</strong>:</li>
                            <ul>
                                <li>Peak Frequency Distribution</li>
                                <li>Normalized Spectrum Distribution</li>
                                <li>Peak Correlation Distribution</li>
                                <li>Space-Time Correlation</li>
                                <li>Frequency-Resolved Space-Time Correlation</li>
                            </ul>
                    </ol>
                </p>
                <p><a class="btn btn-primary" href="https://github.com/rongqingpin/Function_Library" role="button">Learn More &raquo;</a></p>
            </div>
            <div class="col-lg-3">
                <h3>Outcome</h3>
                <p>
                    <ul>
                        <li>Extracted the propagation pathways &amp; active frequencies of flow structures</li>
                    </ul>
                </p>
                <p><a class="btn btn-primary" href="https://www.academia.edu/25726810/Extracting_Near-Field_Structures_Related_to_Noise_Production_in_High_Speed_Jets" role="button">Learn More &raquo;</a></p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2017 Melanie Kan</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
