<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Catalog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}">
    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="../static/blog_small.css">
</head>


<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="../../#">Home</a>
                <a class="blog-nav-item active" href="#">Chronological Catalog</a>
                <a class="blog-nav-item" href="../../about">About</a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">My Past and Ongoing Projects</h1>
            <p class="lead blog-description">From the newest to the oldest ... Click the name to see details</p>
        </div>
        <div class="blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../dataframes/iosapps" style="color:#79529E">iOS Mobile Application Analytics</a></h2>
                <p class="blog-post-meta">July &amp; September, 2017</p>
                <!-- <p>
									<ul>
										<li>Obtained the data and customer reviews on iOS mobile applications</li>
									</ul>
								</p> -->
                <!-- <p><a class="btn btn-primary" href="minis/student_loan" role="button">View details &raquo;</a></p> -->
                <!-- <hr> -->
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../dataframes/avas" style="color:#79529E">Estimation of Optimal Transformation of Multi-Variant Regression</a></h2>
                <p class="blog-post-meta">July ~ August, 2017</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../dataframes/minis" style="color:#79529E">Data Science Mini-Projects</a></h2>
                <p class="blog-post-meta">May ~ July, 2017</p>
								<p>
									<ul>
										<li>Student Loan Repayment Prediction</li>
										<li>Human Activity Prediction from Accelerometer Readings</li>
										<li>Parkinson Disease Identification Based on Patients' Voice Measurements</li>
										<li>Digit Pronunciation Prediction (Repair Incomplete Audio Files)</li>
										<li>Breast Cancer Diagnostic</li>
										<li>Home &amp; Work Address Identification Based on Call Records</li>
										<li>Chicago Crime Hot-Spot Identification</li>
									</ul>
								</p>
            </div>
						<hr>
						<div class="blog-post">
								<h2 class="blog-post-title"><a href = "../../timeseries/acoustic" style="color:#79529E"><b>PhD Projects</b> - Event Conditioned Statistics &amp; Flow Analysis</a></h2>
								<p class="blog-post-meta">2013 ~ 2017</p>
						</div>
  					<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../timeseries/acoustic" style="color:#79529E"><b>PhD Projects</b> - Algorithm Development for Event (Acoustic Source) Detection</a></h2>
                <p class="blog-post-meta">2012 ~ 2017</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../tech/simulation" style="color:#79529E">Modeling - Acoustic Radiation from Distributed Sources</a></h2>
                <p class="blog-post-meta">August ~ December, 2016</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../images/waves" style="color:#79529E">Automatic Wave Tracking (Supersonic Acoustic Waves)</a></h2>
                <p class="blog-post-meta">January ~ April, 2016</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../timeseries/supersonic" style="color:#79529E"><b>PhD Projects</b> - Visualization of Structure Propagation and Evolution of Supersonic Jets</a></h2>
                <p class="blog-post-meta">August ~ December, 2015</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../tech/simulation" style="color:#79529E">Numerical Simulations</a></h2>
                <p class="blog-post-meta">2012 ~ 2014</p>
								<p>
									<ul>
										<li>High Speed Flows (from Subsonic to Supersonic) inside a 2D Diffuser</li>
										<li>Schrodinger Equation</li>
										<li>Laptop Heat Burn</li>
										<li>High Speed Flows around an Airfoil</li>
									</ul>
								</p>
            </div>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../tech/simulation" style="color:#79529E">Modeling - Acoustic Propagation with Refraction from Convected Coherent Structures</a></h2>
                <p class="blog-post-meta">June ~ December, 2011</p>
            </div>
						<hr>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../tech/simulation" style="color:#79529E">Turbulence Drag Reduction through Active Dimple Deformation</a></h2>
                <p class="blog-post-meta">2010 ~ 2011</p>
            </div>
						<hr>
						<div class="blog-post">
                <h2 class="blog-post-title"><a href = "../../tech/frequency" style="color:#79529E">Coherent Structure Depiction of Turbulent Boundary Layer</a></h2>
                <p class="blog-post-meta">2009 ~ 2010</p>
            </div>
        </div>
    </div>

    <footer class="blog-footer">
      <p>&copy; 2017 Melanie Kan</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
