/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* Links */
a,
a:focus,
a:hover {
  text-shadow: none;
  color: #283018; /* #4B0082 */
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #283018;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #729f98;
  border: 1px solid #283018;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #f0eceb; */
}
body {
  color: #283018;
  text-align: center;
  text-shadow: none;
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px #729f98; /*rgba(0,0,0,.5); */
          box-shadow: inset 0 0 100px #729f98; /*rgba(0,0,0,.5); */
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  /* color: #fff; /* IE8 proofing */
  color: #283018; /* rgba(255,255,255,.75); */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /* border-bottom-color: #a9a9a9; */
  border-bottom-color: #729f98;
  /* border-bottom-color: rgba(255,255,255,.25); */
  /* border-bottom-color: rgba(0,0,0,.25); */
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  border-bottom-color: #729f98;
  color: #729f98;
  /* border-bottom-color: #fff; */
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
  color: #283018;
}
.cover .btn-lg {
  color: #283018;
  padding: 10px 20px;
  font-weight: bold;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}
/* Caption text */
.text {
  color: #729f98;
  font-size: 16px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*
 * Footer
 */
.mastfoot {
  color: #283018;
  /* color: #999; /* IE8 proofing */
  /* color: rgba(255,255,255,.5); */
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}