/* GLOBAL STYLES
-------------------------------------------------- */

/*
 * Base structure
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  color: #36234B;
  text-align: center;
  text-shadow: none;
  margin-top: 30px;
  margin-bottom: 10px;
}
body > .container {
  padding: 60px 10px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #B8BEDD;
}
.container .text-muted {
  margin: 20px 0;
  color: #36234B;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*
 * Header
 */
.navbar .container {
 padding-top: 5px;
 padding-bottom: 5px;
 width: auto;
 background-color: #B8BEDD;
}
.navbar{
  font-size: 16px;
  border-bottom: transparent;
}
.navbar .navbar-brand {
  color: #36234B;
  text-shadow: none !important;
  font-weight: bold;
}
/* home */
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background: #79529E !important;
  /*background-image: linear-gradient(to bottom,#79529E 0,#36234B 100%);*/
}
/* navbar fonts */
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #36234B;
  background-color: #B8BEDD;
  text-shadow: none !important;
}
/* the arrow on navbar */
.navbar .navbar-nav > .dropdown > a .caret{
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  background: #79529E !important;
}
/* mobile version */
.navbar .navbar-toggle,
.navbar .navbar-toggle: hover,
.navbar .navbar-toggle: focus {
  background-color: #79529E;
}

/*
 * Main content
 */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}
/* Caption text for the figures */
.text {
  color: #79529E;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #79529E;
  font-size: 16px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}
.row .lead {
  font-size: 20px;
  color: #36234B;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: relative;
    top: 30px;
    /*bottom: 0;*/
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}
@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
